.msg-modal-section {
  position: absolute;
  bottom: 60px;
  background-color: $clr7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  ul {
    display: flex;
    flex-direction: column;
    padding-inline: 1.5rem;

    li {
      display: flex;
      gap: 15px;
      height: 35px;
      padding-right: 10px;
      padding-top: 2px;
      cursor: pointer;
      label {
        position:relative;
        input {
          max-width: 100px;
          position:absolute;
          right: 5px;
          padding: 5px;
        }

      }
    }
  }
}
