.hover-icon {
  position: absolute;
  // right: 0;
  // top: 0
}

// @mixin dynamic-modal-width {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
//   max-width: 80%; /* Adjust the maximum width as needed */
//   margin: 0 auto; /* Center the modal horizontally */
//   padding: 20px; /* Add padding as needed */
// }
.msg-options-modal {
  background-color: #f7f7f7;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1000; /* high value to ensure it's on top of other items */
  width: 200px; /* adjust as per your need */
  transition: top 0.3s, left 0.3s;
}

.msg-options-modal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.msg-options-modal li {
  padding: 12px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.msg-options-modal li:hover {
  background-color: #e0e0e0;
}
