.story-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.story-appear {
    opacity: 0;
  }
  
  .story-appear-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  

  .story-item {
    border-radius: 12px;
    margin: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .story-item:hover {
    transform: scale(1.05);
  }