.contact-preview {
  background: $test;
  border-radius: 0.2rem;
  // box-shadow: 0 0 11px #0000002b;
  display: flex;
  width: inherit;
  cursor: pointer;
  color: $clr2;
  border-bottom: 1px solid rgba(204, 222, 219, 0.05);

  &.active {
    background: rgba($test2, 0.3);
  }

  &:hover {
    background: rgba($test2, 0.3);
  }
  .mini-contant {
    display: flex;
    align-items: center;
  }
  
  .unread-count {
    position:absolute;
    right: 20px;
    background-color: $clr6;
    padding: 10px;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .contact-preview-info {
    display: flex;
    flex-direction: column;
    position:relative;

    .last-msg-content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 250px;
      color: rgba($clr2, 0.7);
    }
    .last-msg-content-image {
      display: flex;
      align-items: center;
      gap: 4px;
      max-width: 250px;
      color: rgba($clr2, 0.7);
    }
  }
  .contact-preview-image {
    max-width: 50px;
    margin: 10px;
    background-color: rgb(128, 128, 128, 0.2);
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}
