// UserList.scss
.user-list {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  padding: 10px;
  gap: 10px;
  .contact-preview {
    &:hover {
      background: rgba($secondaryClr, 0.4);
    }
  }
}
