.contact-preview {
  background: rgb($clr2, 0.9);
  border-radius: 1rem;
  box-shadow: 0 0 11px #0000002b;
  display: flex;
  max-width: 350px;
  cursor: pointer;
  color: rgb($clr4, 0.9);

  .contact-preview-info {
    display: flex;
    flex-direction: column;

    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 220px;
      color: rgba(0, 0, 0, 0.7);
    }
  }
  .contact-preview-image {
    margin: 10px;
    background-color: rgb(128, 128, 128, 0.2);
    height: 50px;
    border-radius: 50%;
  }
}
