// Colors
$primaryClr: #128c7e; // Dark green used for the main bar
$secondaryClr: #DBF7C5;  // Light green used for sent chat bubbles

$clr1: #ECE5DD; // Light background color
$clr2: #F7F9FA; 
$clr3: #075e54; 
$clr4: #222222; // Font
$clr5: #888888; // timestamps and status
$clr6: #25D366; 

$clr7: #ffffff; // White 
$clr8: #E4E4E4; // Light grey for incoming message bubbles' border
$clr9: #B1B1B1; // Dark grey for contact names and previews
$clr10: #667781; // msg timestamp 


$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;